:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

.rating span {
  color: #ffc000;
}

.large {
  max-width: 100%;
}

.thumbnail {
  height: 80px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.small-container {
  max-width: 1000px;
}

.checkOutSteps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkOutSteps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
